<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>geolocation</title>
</head>
<body>
<p>地理定位</p>
<script>
	window.onload = function() {
		var x = document.getElementById("demo");
		getLocation();

		function getLocation() {
			if (navigator.geolocation) {
				console.log(1)
				navigator.geolocation.getCurrentPosition(showPosition);
			}
			else {
				console.log(2)
				x.innerHTML = "Geolocation is not supported by this browser.";
			}
		}
		function showPosition(position) {
			console.log(position)
			x.innerHTML = "Latitude: " + position.coords.latitude +
				"<br />Longitude: " + position.coords.longitude;
		}
	}
</script>
</body>
</html>